* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}


/* * * * * * * * * * * * * * * * * *
* * * * * * *  BODY  * * * * * * * *
* * * * * * * * * * * * * * * * * */

.background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -10;
  background-image: url("../pics/kuzey_daglari.jpg");
  background-size: cover;
  background-position: center;
}

/* .last-screen {
  position: absolute;
  width: 50%;
  height: 100%;
}

.next-screen {
  position: absolute;
  width: 50%;
  height: 100%;
  margin-left: 50%;
} */


.nav-div {
  display: flex;
  width: 75%;
  height: 68%;
  padding: 1%;
}

.filler1 {
  width: 20%;
  height: 70%;
}

.head-div {
  position: relative;
  width: 100%;
  z-index: 1;
}


/* * * * * * * * * * * * * * * * * *
* * * * * *   NAV-DIV  * * * * * * *
* * * * * * * * * * * * * * * * * */

.nav-container {
  width: 0%;
  height: 0%;
  display: flex;
  flex-wrap: wrap;
  background-color: #910b19;
  padding: 2vmin;
}

.nav-container.animate {
  animation: reveal-top-to-bottom 1s linear forwards;
}


.bio {
  font-family: "Roboto Mono", monospace;
  font-size: 2vmin;
  text-align: justify;
  overflow: scroll;
  user-select: none;
}

.text-link {
  color: #910b19;
  text-decoration: none;
}

.text-link:visited {
  color: #660710;
}

.icon-link {
  color: #000;
  text-decoration: none;
}

.icon-link:visited {
  color: #000;
}

.icon-link:hover {
  color: #910b19;
}

.icon {
  margin-top: 1vmin;
  margin-left: 1.5vmin;
  margin-bottom: 1vmin;
}

.icon-explanation {
  display: none;
  padding: 0.5vmin 1vmin 0.5vmin 1vmin;
  border: 1px solid #000;
  background-color: #910b19;
  color: #fff;
  position: absolute;
  font-size: 2vmin;
  margin-left: 1vmin;
}

.icon.animate {
  animation: icon-clicked 100ms linear infinite;
}

@keyframes icon-clicked {
  0% {
    color: blue;
  }
  100% {
    color: pink;
  }
}

@keyframes reveal-top-to-bottom {
  0% {
    width: 0%;
    height: 0%;
    background-color: #fff;
    opacity: 0.55;
  }

  10% {
    width: 100%;
  }

  100% {
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.55;
  }  
}

/* * * * * * * * * * * * * * * * * *
* * * * * *   HEAD-DIV   * * * * * *
* * * * * * * * * * * * * * * * * */

.who-am-i {
  float: right;
  padding-right: 4vmin;
  cursor: pointer;
}

.name {
  position: relative;
  font-family: 'Abril Fatface', cursive;
  font-size: 10vmin;
  font-weight: 300;
  line-height: 75%;
  user-select: none;
  z-index: 1;
}

.title {
  position: relative;
  font-family: 'Libre Barcode 128 Text', cursive;
  font-size: 6vmin;
  font-weight: 300;
  margin-top: 4vmin;
  user-select: none;
  z-index: 1;
}

.japan-circle {
  position: absolute;
  right: -28vmin;
  width: 27vmin;
  height: 27vmin;
  background-color: #910b19;
  border-radius: 50%;
  transform: translateY(-5vmin);
  transition: transform 200ms ease-in-out;
}

.japan-circle.animate {
  transform: translate(-48vmin, -5vmin);
  transition: transform 200ms ease-in-out;
}