* {
  margin: 0;
  padding: 0;
}

/*page1*/
.page-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.nav {
  position: relative;
  width: 61vw;
  height: 8vmin;
  display: flex;
  justify-content: flex-start;
}
.cv {
  display: inline-block;
  border: 0;
  border-width: 0.1vw;
  width: 8vw;
  height: 26vw;
  background-size: contain;
  background-image: url("http://res.cloudinary.com/selmanbey/image/upload/v1480503816/cv1_uaezk2.jpg");
}

.cv:hover {
  background-image: url("http://res.cloudinary.com/selmanbey/image/upload/v1480503817/cv2_khuiiv.jpg");
}

.philosophy-stuff {
  display: inline-block;
  width: 24vw;
  height: 26vw;
  background-image: url("http://res.cloudinary.com/selmanbey/image/upload/v1480505887/phils1_ccceux.jpg");
  background-size: contain;
}

.philosophy-stuff:hover {
  background-image: url("http://res.cloudinary.com/selmanbey/image/upload/v1480505887/phils2_a7bfyg.jpg");
}

.photography-stuff {
  display: inline-block;
  width: 19vw;
  height: 26vw;
  background-image: url("http://res.cloudinary.com/selmanbey/image/upload/v1480509529/phots1_b9swkb.jpg");
  background-size: contain;
}

.photography-stuff:hover {
  background-image: url("http://res.cloudinary.com/selmanbey/image/upload/v1480509530/phots2_kpup7y.jpg");
}

.other {
  display: inline-block;
  width: 9vw;
  height: 26vw;
  background-image: url("http://res.cloudinary.com/selmanbey/image/upload/v1480510556/other1_wsgtbo.jpg");
  background-size: contain;
}

.other:hover {
  background-image: url("http://res.cloudinary.com/selmanbey/image/upload/v1480510556/other2_pdmdkh.jpg");
}
#head1,
#head2,
#head3,
#head4 {
  visibility: hidden;
}


/*page2*/

.bio {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5vmin;
  line-height: 4vmin;
  text-align: center;
  font-weight: 400;
  margin-bottom: 5%;
}
.button {
  display: flex;
  width: 10vmin;
  height: 10vmin;
  -moz-border-radius: 50vmin; 
  -webkit-border-radius: 50vmin;  
  border-radius: 50vmin;
  background-color: #111;
  color: white;
  justify-content: center;
  align-items: center;
  margin: 2vmin;
}
.button:hover {
  background-color:  #AA0000;
}
.buttontext {
  font-family: 'Roboto', sans-serif;
  font-size: 3vmin;
  color: white;
}
/* page 3 */
.thesisbutton {
  width: 10vw;
  height: 10vw;
  margin-top: 6%;
  margin-left: 45%;
  -moz-border-radius: 50vw; 
  -webkit-border-radius: 50vw;  
  border-radius: 50vw;
  background-color: #111;
  color: white;
}
.thesisbutton:hover {
  background-color:  #AA0000;
 }
.thesisbuttontext {
  font-family: 'Roboto', sans-serif;
  font-size: 6vw;
  padding-top: 32%;
  margin-left: 3%;
}

/*footer*/
.footer {
  background-color: black;
  color: white;
  width: 100vw;
  height: 7vmin;
}
.footer-text {
  float: right; 
  font-family: 'alegraya', sans-serif;
  font-size: 2vmin; 
  font-weight: 300; 
  padding-top:0.5vmin; 
  padding-right: 5vmin
}
/*general-stuff*/
a {
  text-decoration: none;
}
p {
  font-family: 'Roboto', sans-serif;
  font-size: 2vw;
  line-height: 4vw;
}
h1 {
  position: absolute;
  color: #111;
  font-family: 'Oswald', sans-serif;
  font-size: 6vmin;
  font-weight: 300;
}
h2 {
  align-self: flex-end;
  color: black;
  font-family: 'Oswald', sans-serif;
  font-size: 7vmin;
  font-weight: 300;
  display: block;
}